<div class="col-xs-3 product-container">
	<a href="#" class="product thumbnail">
		<img src="{{product.img}}" alt="{{product.name}}">
	</a>
	<div class="caption">
		<h4>{{product.name}} (S/N:{{product.sku}})</h4>
		<p>${{product.price}}<p>
		<p>{{product.desc}}</p>
	</div>
	<div>
		<form action="/products/cart" method="post" class="form-cart">
			<input type="hidden" name="productId" value="{{product.id}}">
			<button type="submit" class="btn add-cart-btn">Add To Cart</button>
		</form>
		
	</div>
</div>
