<header>
  {{>_navbar cartData=cartData categories=categories}}
</header>

<div class="cart-display">
	<h1>Your Cart</h1>
	{{#each cartData as |product|}}
		<div class="media">
		  <a class="pull-left" href="#">
		    <img class="media-object img-rounded" width="200" src="{{product.img}}">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">{{product.name}}</h3>
		    <p>{{product.categoryName}}</p>
		    <p>{{product.price}}</p>
		  </div>
		  <div>
				<form action="/products/cart" method="post">
					<input type="hidden" name="_method" value="PUT">
					<input type="hidden" name="id" value="{{product.productId}}">
					<label for="quantity">Amount</label>
					<input  type="number" name="quantity" value="{{product.count}}">
					<button>Set Quantity</button>
				</form>
		  </div>
		  <div>
		  	<form action="/products/cart" method="post">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="id" value="{{product.productId}}">
					<button>Remove From Cart</button>
				</form>
		  </div>
		</div>
	{{/each}}
	<div class="total-cost">
		<h2>Total: ${{total.amount}}</h2>
	</div>
	<div>
		
	</div>
</div>

